In [0]:
spark.sql("create database ayurvedicdb comment 'This database created using python'")

DataFrame[]

In [0]:
df=spark.sql("desc database ayurvedicdb")
display(df)

database_description_item,database_description_value
Catalog Name,spark_catalog
Namespace Name,ayurvedicdb
Comment,This database created using python
Location,dbfs:/user/hive/warehouse/ayurvedicdb.db
Owner,root

In [0]:
spark.sql("drop database ayurvedicdb")

DataFrame[]

In [0]:
spark.sql("create database Kingdom")

DataFrame[]

In [0]:
spark.sql("create table Kingdom.King(KID varchar(255), Name string, City string, Empire string, Phone_Number long)")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3240177101868755>:1
----> 1 spark.sql("create table Kingdom.King(KID varchar(255), Name string, City string, Phone_Number long)")

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1551, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1549 try:
   1550     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1551     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1552 finally:
   1553     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `Kingdom`.`King` because it already exists.
Choose a different name, drop or replace the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, or add the OR REFRESH clause to refresh the existing streaming table.

In [0]:
spark.sql("drop table News24.reporters")

DataFrame[]

In [0]:
spark.sql("select * from News24.Reporters").show()

+-----+----------+---------+--------+-------------+
|  RID|First_Name|Last_Name|    City|Mobile_Number|
+-----+----------+---------+--------+-------------+
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR101|    Vikram|    Singh|Amritsar|        98981|
+-----+----------+---------+--------+-------------+

In [0]:
spark.sql("insert into News24.Reporters values('NR101', 'Vikram', 'Singh', 'Amritsar', 98981)")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
# spark.sql("insert into Kingdom.King values \
#     ('KK101', 'Krishnadevray Verma', 'Vijaynagar', 'Karnatak', 9898177711), \
#     ('KK102', 'Vikram Aditya', 'Ujjain', 'Aditya', 9898177712), \
#     ('KK103', 'Jayrajsinh', 'Jadeja', 'Gondal', 9898177713), \
#     ('KK104', 'Pankaj Tripathi', 'Kashi', 'Maurya', 98984), \
#     ('KK105', 'Prabhakar Rao', 'Pune', 'Maratha', 98985)")

table_name = "Kingdom.King"  # You can specify the table name and database
df = spark.table(table_name).dropDuplicates()

display(df)
df.write.mode("overwrite").saveAsTable(table_name)

KID,Name,City,Empire,Phone_Number
KK102,Vikram Aditya,Ujjain,Aditya,9898177712
KK104,Pankaj Tripathi,Kashi,Maurya,98984
KK105,Prabhakar Rao,Pune,Maratha,98985
KK103,Jayrajsinh,Jadeja,Gondal,9898177713
KK101,Krishnadevray Verma,Vijaynagar,Karnatak,9898177711

In [0]:
spark.sql("desc table News24.Reporters").show()
display(df)

+-------------+------------+-------+
|     col_name|   data_type|comment|
+-------------+------------+-------+
|          RID|varchar(255)|   null|
|   First_Name|      string|   null|
|    Last_Name|      string|   null|
|         City|      string|   null|
|Mobile_Number|         int|   null|
+-------------+------------+-------+

RID,First_Name,Last_Name,City,Mobile_Number
NR101,Vikram,Singh,Amritsar,9898177711
NR102,Ramsinh,Bhandari,Ranakpur,9898177712
NR103,Jayrajsinh,Jadeja,Gondal,9898177713
NR104,Pankaj,Tripathi,Kashi,9898177714
NR105,Prabhakar,Rao,Pune,9898177715

In [0]:
data = [('NR102', 'Ramsinh', 'Bhandari', 'Ranakpur', 98982),('NR103', 'Jayrajsinh', 'Jadeja', 'Gondal', 98983),('NR104', 'Pankaj', 'Tripathi', 'Kashi', 98984),('NR105', 'Prabhakar', 'Rao', 'Pune', 98985)]
columns = ['RID', 'First_Name', 'Last_Name', 'City', 'Mobile_Name']

df.show()
df.printSchema()

+-------------------------+--------------------------+
|database_description_item|database_description_value|
+-------------------------+--------------------------+
|             Catalog Name|             spark_catalog|
|           Namespace Name|               ayurvedicdb|
|                  Comment|      This database cre...|
|                 Location|      dbfs:/user/hive/w...|
|                    Owner|                      root|
+-------------------------+--------------------------+

root
 |-- database_description_item: string (nullable = false)
 |-- database_description_value: string (nullable = true)

In [0]:
# Assuming df is your DataFrame
df = df.withColumnRenamed("First_Name", "F_Name")
df.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1117710134367576>:2
      1 # Assuming df is your DataFrame
----> 2 df = df.withColumnRenamed("First_Name", "F_Name")
      3 df.show()

AttributeError: 'function' object has no attribute 'withColumnRenamed'

In [0]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("DB_Creation") \
    .getOrCreate()

# Step 1: Create the database (if not already created)
spark.sql("CREATE DATABASE IF NOT EXISTS News24")

# Step 2: Create the table (if not already created)
spark.sql("""
    CREATE TABLE IF NOT EXISTS News24.Reporters (
        RID varchar(255),
        First_Name string,
        Last_Name string,
        City string,
        Mobile_Number int
    )
""")

# Step 3: Insert data into the table
spark.sql("""
    INSERT INTO News24.Reporters 
    VALUES
        ('NR101', 'Vikram', 'Singh', 'Amritsar', 98981),
        ('NR102', 'Ramsinh', 'Bhandari', 'Ranakpur', 98982),
        ('NR103', 'Jayrajsinh', 'Jadeja', 'Gondal', 98983),
        ('NR104', 'Pankaj', 'Tripathi', 'Kashi', 98984),
        ('NR105', 'Prabhakar', 'Rao', 'Pune', 98985)
""")

# Step 4: Show the data from the table
spark.sql("SELECT * FROM News24.Reporters").show()

# Step 5: Create a DataFrame for the table and rename the column
df = spark.table("News24.Reporters")
df = df.withColumnRenamed("First_Name", "F_Name")
df.show()

+-----+----------+---------+--------+-------------+
|  RID|First_Name|Last_Name|    City|Mobile_Number|
+-----+----------+---------+--------+-------------+
|NR101|    Vikram|    Singh|Amritsar|        98981|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR101|    Vikram|    Singh|Amritsar|        98981|
+-----+----------+---------+--------+-------------+

+-----+----------+---------+--------+-------------+
|  RID|    F_Name|Last_Name|    City|Mobile_Number|
+-----+----------+---------+--------+-------------+
|NR101|    Vikram|    Singh|Amritsar|        98981|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR101|    Vikram|    Singh|Amritsar|        98981|
+-----+----------+---------+--------+-------------+

In [0]:
df = spark.table("News24.Reporters")
df = df.withColumnRenamed("F_Name", "First_Name")
df.show()

+-----+----------+---------+--------+-------------+
|  RID|First_Name|Last_Name|    City|Mobile_Number|
+-----+----------+---------+--------+-------------+
|NR101|    Vikram|    Singh|Amritsar|        98981|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR102|   Ramsinh| Bhandari|Ranakpur|        98982|
|NR103|Jayrajsinh|   Jadeja|  Gondal|        98983|
|NR104|    Pankaj| Tripathi|   Kashi|        98984|
|NR105| Prabhakar|      Rao|    Pune|        98985|
|NR101|    Vikram|    Singh|Amritsar|        98981|
+-----+----------+---------+--------+-------------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Example DataFrame") \
    .getOrCreate()

df = spark.table("News24.Reporters")
df = df.withColumn("Mobile_Number", df["Mobile_Number"].cast(LongType()))
#df.show()

table_name = "News24.Reporters"  # You can specify the table name and database
df.write.mode("overwrite").saveAsTable(table_name)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3442199277493689>:14
     11 #df.show()
     13 table_name = "News24.Reporters"  # You can specify the table name and database
---> 14 df.write.mode("overwrite").saveAsTable(table_name)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1586, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1584 if format is not None:
   1585     self.format(format)
-> 1586 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: Failed to merge fields 'Mobile_Number' and 'Mobile_Number'. Failed to merge incompatible data types IntegerType and LongType

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType
from pyspark.sql.functions import col, when

spark = SparkSession.builder \
    .appName("Example DataFrame") \
    .getOrCreate()

new_mobile_number = 9898177711
df = df.withColumn("Mobile_Number", when(col("RID") == "NR101", new_mobile_number).otherwise(col("Mobile_Number")))

# Show the DataFrame with the updated Mobile_Number column
#print("DataFrame with Mobile_Number changed for RID101:")
#df.show()

table_name = "News24.Reporters"  # You can specify the table name and database
df.write.mode("overwrite").saveAsTable(table_name)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3442199277493690>:17
     12 # Show the DataFrame with the updated Mobile_Number column
     13 #print("DataFrame with Mobile_Number changed for RID101:")
     14 #df.show()
     16 table_name = "News24.Reporters"  # You can specify the table name and database
---> 17 df.write.mode("overwrite").saveAsTable(table_name)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1586, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1584 if format is not None:
   1585     self.format(format)
-> 1586 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: Failed to merge fields 'Mobile_Number' and 'Mobile_Number'. Failed to merge incompatible data types IntegerType and LongType

In [0]:
bulk_update_mobile_numbers = {
    "NR102": 9898177712,
    "NR103": 9898177713,
    "NR104": 9898177714,
    "NR105": 9898177715,
    "NR106": 9898177716,
    "NR107": 9898177717,
    "NR108": 9898177718,
    "NR109": 9898177719,
    "NR110": 9898177720,
    # Add more RIDs and corresponding new mobile numbers here
}

# Perform bulk updates using dictionary comprehension and withColumn
for rid, new_mobile_number in bulk_update_mobile_numbers.items():
    df = df.withColumn("Mobile_Number", when(col("RID") == rid, new_mobile_number).otherwise(col("Mobile_Number")))

# Show the DataFrame with the updated Mobile_Number column for all RIDs
#print("DataFrame with bulk updates of Mobile_Number:")
#df.show()

table_name = "News24.Reporters"  # You can specify the table name and database
df.write.mode("overwrite").saveAsTable(table_name)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3442199277493691>:23
     18 # Show the DataFrame with the updated Mobile_Number column for all RIDs
     19 #print("DataFrame with bulk updates of Mobile_Number:")
     20 #df.show()
     22 table_name = "News24.Reporters"  # You can specify the table name and database
---> 23 df.write.mode("overwrite").saveAsTable(table_name)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1586, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1584 if format is not None:
   1585     self.format(format)
-> 1586 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: Failed to merge fields 'Mobile_Number' and 'Mobile_Number'. Failed to merge incompatible data types IntegerType and LongType

In [0]:
df = df.dropDuplicates()

# Show the DataFrame without duplicates
print("DataFrame without duplicates:")
df.show()

DataFrame without duplicates:
+-----+-------------+---------+----------+-------------+
|  RID|   First_Name|Last_Name|      City|Mobile_Number|
+-----+-------------+---------+----------+-------------+
|NR101|Krishnadevray|    Verma|Vijaynagar|   9898177711|
|NR102|      Ramsinh| Bhandari|  Ranakpur|   9898177712|
|NR103|   Jayrajsinh|   Jadeja|    Gondal|   9898177713|
|NR104|       Pankaj| Tripathi|     Kashi|   9898177714|
|NR105|    Prabhakar|      Rao|      Pune|   9898177715|
|NR106|    Naransamy| Ayyagiri|  Tirupati|        98982|
|NR107|    Venugopal|    Aiyer|   Madurai|        98983|
|NR108|      Dibakar| Banerjee| Bishnupur|        98984|
|NR109|     Sivraman| Akkineni|    Mysuru|        98985|
|NR109|     Sivraman| Akkineni|          |        98985|
|NR110|    Harisingh|    Nalwa| Jalandhar|        98986|
+-----+-------------+---------+----------+-------------+

In [0]:
# Sort the DataFrame based on the "RID" column
df = df.orderBy("RID")

# Show the DataFrame with sorted data based on "RID"
print("DataFrame with sorted data based on RID:")
df.show()

DataFrame with sorted data based on RID:
+-----+----------+---------+--------+-------------+
|  RID|First_Name|Last_Name|    City|Mobile_Number|
+-----+----------+---------+--------+-------------+
|NR101|    Vikram|    Singh|Amritsar|   9898177711|
|NR102|   Ramsinh| Bhandari|Ranakpur|   9898177712|
|NR103|Jayrajsinh|   Jadeja|  Gondal|   9898177713|
|NR104|    Pankaj| Tripathi|   Kashi|   9898177714|
|NR105| Prabhakar|      Rao|    Pune|   9898177715|
+-----+----------+---------+--------+-------------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType
from pyspark.sql.functions import col, when

spark = SparkSession.builder \
    .appName("Example DataFrame") \
    .getOrCreate()

spark.sql("insert into News24.Reporters values('NR106', 'Naransamy', 'Ayyagiri', 'Tirupati', 98982),('NR107', 'Venugopal', 'Aiyer', 'Madurai', 98983),('NR108', 'Dibakar', 'Banerjee', 'Bishnupur', 98984),('NR109', 'Sivraman', 'Akkineni', 'Mysuru', 98985),('NR110', 'Harisingh', 'Nalwa', 'Jalandhar', 98986)")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
TRUNCATE TABLE News24.reporters;

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType
from pyspark.sql.functions import lit

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Example DataFrame") \
    .getOrCreate()

# Sample data in the form of a list of tuples
data = [
    ("NR101", "Krishnadevray", "Verma", "Vijaynagar", 98981),
    ("NR102", "Ramsinh", "Bhandari", "Ranakpur", 98982),
    ("NR103", "Jayrajsinh", "Jadeja", "Gondal", 98983),
    ("NR104", "Pankaj", "Tripathi", "Kashi", 98984),
    ("NR105", "Prabhakar", "Rao", "Pune", 98985),
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("RID", StringType(), True),
    StructField("First_Name", StringType(), True),
    StructField("Last_Name", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Mobile_Number", LongType(), True)  # The data type is LongType
])

# Create the DataFrame
df = spark.createDataFrame(data, schema)

# Show the original DataFrame
print("Original DataFrame:")
df.show()

# Save the DataFrame as a table (using the overwrite mode for demonstration purposes)
table_name = "News24.Reporters"  # You can specify the table name and database
df.write.mode("overwrite").saveAsTable(table_name)

# Show the data from the table
print("Data in the table:")
spark.sql(f"SELECT * FROM {table_name}").show()

Original DataFrame:
+-----+-------------+---------+----------+-------------+
|  RID|   First_Name|Last_Name|      City|Mobile_Number|
+-----+-------------+---------+----------+-------------+
|NR101|Krishnadevray|    Verma|Vijaynagar|        98981|
|NR102|      Ramsinh| Bhandari|  Ranakpur|        98982|
|NR103|   Jayrajsinh|   Jadeja|    Gondal|        98983|
|NR104|       Pankaj| Tripathi|     Kashi|        98984|
|NR105|    Prabhakar|      Rao|      Pune|        98985|
+-----+-------------+---------+----------+-------------+

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1541954602004996>:37
     35 # Save the DataFrame as a table (using the overwrite mode for demonstration purposes)
     36 table_name = "News24.Reporters"  # You can specify the table name and database
---> 37 df.write.mode("overwrite").saveAsTable(table_name)
     39 # Show the data from the table
     40 print("Data in the table:")

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1586, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1584 if format is not None:
   1585     self.format(format)
-> 1586 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: Failed to merge fields 'Mobile_Number' and 'Mobile_Number'. Failed to merge incompatible data types IntegerType and LongType