In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

"""
# Step 1: Import the necessary libraries

# Create Database "News"
# spark.sql("create database News comment 'This database created using python'")

# Step 2: Initialize the Spark session
spark = SparkSession.builder \
    .appName("Create Table in Databricks") \
    .getOrCreate()

# Step 3: Define the schema of the table
schema = StructType([
    StructField("RID", StringType(), True),
    StructField("First_Name", StringType(), True),
    StructField("Last_Name", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Mobile_Number", LongType(), True),
    StructField("Age", IntegerType(), True),
    StructField("EID", IntegerType(), True)
])

# Step 4: Create the DataFrame
data = [
    ("R101", "Alpesh", "Patel", "Bhadran", 9898177711, 30, E101),
    ("R102", "Jaimin", "Jani", "Mehsana", 9898177712, 28, E102),
    ("R103", "Yagnesh", "Bramhbhatt", "Rajot", 9898177713, 35, E103)
]

df = spark.createDataFrame(data, schema)

# Step 5: Save the DataFrame as a table in the "News" database
database_name = "News"
table_name = "Reporters" 

# Use the format "database_name.table_name" to specify the database while saving the table
df.write.saveAsTable(f"{database_name}.{table_name}")

# Step 6: Show the data from the table
df_from_table = spark.table(f"{database_name}.{table_name}")
df_from_table.show() """

from pyspark.sql import SparkSession

# Initialize the Spark session
spark = SparkSession.builder \
    .appName("Print Reporters Table") \
    .getOrCreate()

# Set the database name where the table exists
database_name = "News"
table_name = "Reporters"

# Read the "Reporters" table into a DataFrame
reporters_df = spark.table(f"{database_name}.{table_name}")

# Print the contents of the "Reporters" table
reporters_df.show()

+----+----------+----------+-------+-------------+---+-----+
| RID|First_Name| Last_Name|   City|Mobile_Number|Age|  EID|
+----+----------+----------+-------+-------------+---+-----+
|R102|    Jaimin|      Jani|Mehsana|   9898177712| 28|ER102|
|R101|    Alpesh|     Patel|Bhadran|   9898177711| 30|ER101|
|R103|   Yagnesh|Bramhbhatt| Rajkot|   9898177713| 35|ER103|
+----+----------+----------+-------+-------------+---+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

"""
# Step 1: Initialize the Spark session
spark = SparkSession.builder \
    .appName("Create Table with Values in Databricks") \
    .getOrCreate()

# Step 2: Define the schema of the table
schema = StructType([
    StructField("CID", StringType(), True),
    StructField("First_Name", StringType(), True),
    StructField("Last_Name", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Mobile_Number", LongType(), True),
    StructField("Age", IntegerType(), True),
    StructField("EID", IntegerType(), True)
])

# Step 3: Create the DataFrame with values
data = [
    ("C101", "Prashant", "Pandya", "Vadodara", 9899177711, 24),
    ("C102", "Vinay", "Mehta", "Junagadh", 9899177712, 26),
    ("C103", "Bakul", "Buch", "Bhavnagar", 9899177713, 30)
]

df = spark.createDataFrame(data, schema)

# Step 4: Save the DataFrame as a table in the "News" database
database_name = "News"
table_name = "Cameraman"

# Use the format "database_name.table_name" to specify the database while saving the table
df.write.saveAsTable(f"{database_name}.{table_name}")

# Step 5: Show the data from the table
df_from_table = spark.table(f"{database_name}.{table_name}")
df_from_table.show() """

+----+----------+---------+---------+-------------+---+----+
| CID|First_Name|Last_Name|     City|Mobile_Number|Age| EID|
+----+----------+---------+---------+-------------+---+----+
|C101|  Prashant|   Pandya| Vadodara|   9899177711| 24|E104|
|C103|     Bakul|     Buch|Bhavnagar|   9899177713| 30|E106|
|C102|     Vinay|    Mehta| Junagadh|   9899177712| 26|E105|
+----+----------+---------+---------+-------------+---+----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

"""
# Step 1: Initialize the Spark session
spark = SparkSession.builder \
    .appName("Create Table with Values in Databricks") \
    .getOrCreate()

# Step 2: Define the schema of the table
schema = StructType([
    StructField("EID", StringType(), True),
    StructField("First_Name", StringType(), True),
    StructField("Last_Name", StringType(), True),
    StructField("Address", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Mobile_Number", LongType(), True),
    StructField("Manager", StringType(), True),
    StructField("Department", StringType(), True),                 
    StructField("Age", IntegerType(), True),
    StructField("Salary", LongType(), True)
])

# Step 3: Create the DataFrame with values
data = [
    ("E101", "Alpesh", "Patel", "DadaNagar","Bhadran", 9898177711, "Mansukh Patel", "Reporter", 30, 35000),
    ("E102", "Jaimin", "Jani", "SimandharSwami Society","Mehsana", 9898177712, "Harish Bhatt", "Reporter", 28, 32000),
    ("E103", "Yagnesh", "Bramhbhatt", "Bapu Ni Vadi", "Rajot", 9898177713, "Vijay Goswami", "Reporter", 35, 36000),
    ("E104", "Prashant", "Pandya", "Mama Ni Pol", "Vadodara", 9899177711, "Ramakant Upadhyay", "Cameraman", 24, 25000),
    ("E105", "Vinay", "Mehta", "Joshipara", "Junagadh", 9899177712, "Jagdish Raval", "Cameraman", 26, 28000),
    ("E106", "Bakul", "Buch", "Ambawadi Chowk","Bhavnagar", 9899177713, "Yuvrajsinh Gohil", "Cameraman", 30, 30000)
]

df = spark.createDataFrame(data, schema)

# Step 4: Save the DataFrame as a table in the "News" database
database_name = "News"
table_name = "Employee"

# Use the format "database_name.table_name" to specify the database while saving the table
df.write.saveAsTable(f"{database_name}.{table_name}")

# Step 5: Show the data from the table
df_from_table = spark.table(f"{database_name}.{table_name}")
df_from_table.show() """

+----+----------+----------+--------------------+---------+-------------+-----------------+----------+---+------+
| EID|First_Name| Last_Name|             Address|     City|Mobile_Number|          Manager|Department|Age|Salary|
+----+----------+----------+--------------------+---------+-------------+-----------------+----------+---+------+
|E104|  Prashant|    Pandya|         Mama Ni Pol| Vadodara|   9899177711|Ramakant Upadhyay| Cameraman| 24| 25000|
|E102|    Jaimin|      Jani|SimandharSwami So...|  Mehsana|   9898177712|     Harish Bhatt|  Reporter| 28| 32000|
|E103|   Yagnesh|Bramhbhatt|        Bapu Ni Vadi|    Rajot|   9898177713|    Vijay Goswami|  Reporter| 35| 36000|
|E105|     Vinay|     Mehta|           Joshipara| Junagadh|   9899177712|    Jagdish Raval| Cameraman| 26| 28000|
|E106|     Bakul|      Buch|      Ambawadi Chowk|Bhavnagar|   9899177713| Yuvrajsinh Gohil| Cameraman| 30| 30000|
|E101|    Alpesh|     Patel|           DadaNagar|  Bhadran|   9898177711|    Mansukh Patel|  Reporter| 30| 35000|
+----+----------+----------+--------------------+---------+-------------+-----------------+----------+---+------+

In [0]:
# Step 1: Initialize the Spark session
spark = SparkSession.builder \
    .appName("Joining Employee and Reporters DataFrames") \
    .getOrCreate()

# Step 2: Create the Employee DataFrame with values
# (Assuming you have already created the Employee DataFrame as shown in your previous code)

# Step 3: Create the Reporters DataFrame with values
# (Assuming you have already created the Reporters DataFrame as shown in your previous code)

# Step 4: Perform an inner join on the "EID" column
result_df = employee_df.join(reporters_df, "EID", "inner")

# Step 5: Show the result of the inner join
result_df.show()

+----+----------+----------+--------------------+-------+-------------+-------------+----------+---+------+----+----------+----------+-------+-------------+---+
| EID|First_Name| Last_Name|             Address|   City|Mobile_Number|      Manager|Department|Age|Salary| RID|First_Name| Last_Name|   City|Mobile_Number|Age|
+----+----------+----------+--------------------+-------+-------------+-------------+----------+---+------+----+----------+----------+-------+-------------+---+
|E102|    Jaimin|      Jani|SimandharSwami So...|Mehsana|   9898177712| Harish Bhatt|  Reporter| 28| 32000|R102|    Jaimin|      Jani|Mehsana|   9898177712| 28|
|E101|    Alpesh|     Patel|           DadaNagar|Bhadran|   9898177711|Mansukh Patel|  Reporter| 30| 35000|R101|    Alpesh|     Patel|Bhadran|   9898177711| 30|
|E103|   Yagnesh|Bramhbhatt|        Bapu Ni Vadi|  Rajot|   9898177713|Vijay Goswami|  Reporter| 35| 36000|R103|   Yagnesh|Bramhbhatt| Rajkot|   9898177713| 35|
+----+----------+----------+--------------------+-------+-------------+-------------+----------+---+------+----+----------+----------+-------+-------------+---+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.functions import regexp_replace

df.withColumn('Employee', regexp_replace('City', 'Rajot', 'Rajkot')) \
  .show(truncate=False)

# Step 5: Show the updated Employee DataFrame
# employee_df.show()

+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+---------+
|EID |First_Name|Last_Name |Address               |City     |Mobile_Number|Manager          |Department|Age|Salary|Employee |
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+---------+
|E104|Prashant  |Pandya    |Mama Ni Pol           |Vadodara |9899177711   |Ramakant Upadhyay|Cameraman |24 |25000 |Vadodara |
|E102|Jaimin    |Jani      |SimandharSwami Society|Mehsana  |9898177712   |Harish Bhatt     |Reporter  |28 |32000 |Mehsana  |
|E103|Yagnesh   |Bramhbhatt|Bapu Ni Vadi          |Rajot    |9898177713   |Vijay Goswami    |Reporter  |35 |36000 |Rajkot   |
|E105|Vinay     |Mehta     |Joshipara             |Junagadh |9899177712   |Jagdish Raval    |Cameraman |26 |28000 |Junagadh |
|E106|Bakul     |Buch      |Ambawadi Chowk        |Bhavnagar|9899177713   |Yuvrajsinh Gohil |Cameraman |30 |30000 |Bhavnagar|
|E101|Alpesh    |Patel     |DadaNagar             |Bhadran  |9898177711   |Mansukh Patel    |Reporter  |30 |35000 |Bhadran  |
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+---------+

In [0]:
from pyspark.sql.functions import when, regexp_replace

# Assuming you have already loaded the DataFrame with the name 'df'
# If not, you need to load it first using SparkSession or any other method

# Update the 'City' column to replace "Rajot" with "Rajkot"
updated_df = df.withColumn('City', 
                           when(df.City.endswith('Rajot'), regexp_replace(df.City, 'Rajot', 'Rajkot'))
                           .otherwise(df.City))

# Show the updated DataFrame
updated_df.show(truncate=False)

+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+
|EID |First_Name|Last_Name |Address               |City     |Mobile_Number|Manager          |Department|Age|Salary|
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+
|E104|Prashant  |Pandya    |Mama Ni Pol           |Vadodara |9899177711   |Ramakant Upadhyay|Cameraman |24 |25000 |
|E102|Jaimin    |Jani      |SimandharSwami Society|Mehsana  |9898177712   |Harish Bhatt     |Reporter  |28 |32000 |
|E103|Yagnesh   |Bramhbhatt|Bapu Ni Vadi          |Rajkot   |9898177713   |Vijay Goswami    |Reporter  |35 |36000 |
|E105|Vinay     |Mehta     |Joshipara             |Junagadh |9899177712   |Jagdish Raval    |Cameraman |26 |28000 |
|E106|Bakul     |Buch      |Ambawadi Chowk        |Bhavnagar|9899177713   |Yuvrajsinh Gohil |Cameraman |30 |30000 |
|E101|Alpesh    |Patel     |DadaNagar             |Bhadran  |9898177711   |Mansukh Patel    |Reporter  |30 |35000 |
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, regexp_replace

# Step 1: Initialize the Spark session
spark = SparkSession.builder \
    .appName("Changing City Name in Employee DataFrame") \
    .getOrCreate()

# Step 2: Load the DataFrame from the table in Databricks
database_name = "News"
employee_table_name = "Employee"
df = spark.table(f"{database_name}.{employee_table_name}")

# Step 3: Update the 'City' column to replace "Rajot" with "Rajkot"
updated_df = df.withColumn('City', 
                           when(df.City.endswith('Rajot'), regexp_replace(df.City, 'Rajot', 'Rajkot'))
                           .otherwise(df.City))

# Step 4: Save the updated DataFrame as a table in Databricks, overwriting the existing table
updated_df.write.mode("overwrite").saveAsTable(f"{database_name}.{employee_table_name}")

# Step 5: Show the updated DataFrame
updated_df.show(truncate=False)

+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+
|EID |First_Name|Last_Name |Address               |City     |Mobile_Number|Manager          |Department|Age|Salary|
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+
|E104|Prashant  |Pandya    |Mama Ni Pol           |Vadodara |9899177711   |Ramakant Upadhyay|Cameraman |24 |25000 |
|E102|Jaimin    |Jani      |SimandharSwami Society|Mehsana  |9898177712   |Harish Bhatt     |Reporter  |28 |32000 |
|E103|Yagnesh   |Bramhbhatt|Bapu Ni Vadi          |Rajkot   |9898177713   |Vijay Goswami    |Reporter  |35 |36000 |
|E105|Vinay     |Mehta     |Joshipara             |Junagadh |9899177712   |Jagdish Raval    |Cameraman |26 |28000 |
|E106|Bakul     |Buch      |Ambawadi Chowk        |Bhavnagar|9899177713   |Yuvrajsinh Gohil |Cameraman |30 |30000 |
|E101|Alpesh    |Patel     |DadaNagar             |Bhadran  |9898177711   |Mansukh Patel    |Reporter  |30 |35000 |
+----+----------+----------+----------------------+---------+-------------+-----------------+----------+---+------+

In [0]:
# Inner Join - Matching Values from both the tables
# Left Join - Matching Values of other tables are printed otherwise null is mentioned
# Right Join - From Table as it is but value may differ